body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

.container {
    color: white;
    width: 50%;
    margin-top: 50px;
    margin-left: 500px;
    background-color: #262626;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container input {
    background-color: black;
    color: white;
}

.container textarea {
    background-color: black;
    color: white;
    border-color: white;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input, textarea {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid black;
    border-radius: 4px;
}

#submitButton {
    background-color: green;
    color: black;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#submitButton:hover {
    background-color: darkgreen;
}

#cancelButton {
    background-color: red;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#cancelButton:hover {
    background-color: darkred;
}

.chat-window {
    position: fixed;
    bottom: 10px;
    left: 0px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.toggle-button {
    cursor: pointer;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 5px 5px 0 0;
}

.messages {
    height: 150px;
    overflow-y: scroll;
    padding: 10px;
    background-color: #1A1A1A;
}

.chat-window input {
    background-color: #1A1A1A;
    border-color: white;
}

.input-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.chat-window button {
    margin-left: 10px;
    padding: 8px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#increaseChatButton {
    border-radius: 0px;
    background-color: #383838;
}

#reduceChatButton {
    border-radius: 0px;
    background-color: #696969;
}

.chat-window button:hover {
    background-color: #45a049;
}

#messageButton {
    background-color: darkolivegreen;
}

#messageCancelButton {
    background-color: darkred;
}

#safecorner {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#theme {
    margin-top: 5px;
    padding: 5px;
}